@import url("./base.css");

.bottom {
  position: relative;
  top: 50px;
  display: flex;
  flex-direction: column;
  border: solid;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.bottom h2 {
  align-self: center;
}

.bottomSection {
  border: solid thin;
  padding: 25px;
  padding-top: 5px;
}

.favs {
  display: flex;
  justify-content: space-between;
}

.favSection {
  width: 50%;
}