@import url("../base.css");

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gallery img {
  display: block;
  max-width: 1000px;
  max-height: 350px;
  width: auto;
  height: auto;
}